$myColor: #e0e1e6;

.App {
  background-color: $myColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
}
.partial {
  padding: 15px;

  .image {
    width: 230px;
    height: 230px;
  }
}
